<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate [nbSpinner]="loading">
  <nb-card accent="success">

    <nb-card-header>
      Contrato
    </nb-card-header>

    <nb-card-body>
      <div class="form-row">

        <div class="col-12">
          <label for="name" class="label">Cliente</label>
          <app-auto-complete-customer
            (setValue)="setCustomer($event)"
            [status]="(!submitted? 'basic': (customer.valid)? 'success':'danger' ) "
            >
          </app-auto-complete-customer>
        </div>

        <div class="col-12">
          <label for="name" class="label">Nome Fantasia</label>
          <input
          id="numero"
          nbInput
          type="text"
          fullWidth
          [formControl]="nameBusiness"
          placeholder="Nome Fantasia"
          [status]="(!submitted? 'basic': (nameBusiness.valid)? 'success':'danger' ) "
          >

        <div *ngIf="nameBusiness.invalid && submitted">

          <div *ngIf="nameBusiness.errors?.['minlength']">
            Nome deve ter pelo menos {{nameBusiness.errors['minlength'].requiredLength}} caracteres
          </div>

          <div *ngIf="nameBusiness.errors?.['maxlength']">
            Nome deve ter no maximo 4 caracteres
          </div>

        </div>

        </div>

        <div class="col-12">
          <label for="name" class="label">Matrícula</label>
          <app-auto-complete-place
            (setValue)="setPlaceResidence($event)"
            [status]="(!submitted? 'basic': (placeResidence.valid)? 'success':'danger' ) "
            >
          </app-auto-complete-place>
        </div>

        <div class="col-12">
          <label for="name" class="label">Matrícula de correspondência</label>
          <app-auto-complete-place
          (setValue)="setPlaceMail($event)"
          [status]="(!submitted? 'basic': (placeMail.valid)? 'success':'danger' ) "
          >
        </app-auto-complete-place>
        </div>

        <div class="col-12">
          <label for="name" class="label">Grupo</label>
          <app-auto-complete-group
            (setValue)="setGroup($event)"
            [status]="(!submitted? 'basic': (group.valid)? 'success':'danger' ) "
          >
          </app-auto-complete-group>
        </div>

      </div>
    </nb-card-body>

    <nb-card-footer>
      <button type="button" nbButton status="basic" (click)="voltar()">Voltar</button>
      <button type="submit" nbButton status="success" class="float-right">Salvar</button>
    </nb-card-footer>

  </nb-card>
</form>
