<label *ngIf="showTitle" for="name" class="label">Logradouro</label>

<nb-select
  fullWidth

  placeholder="Selecione"
  [(selected)]="selected"
  (selectedChange)=onSelectionChange()
  [status]="(!submitted? 'basic': (form.valid)? 'success':'danger')">
  >

  <nb-option [value]=null>
    Selecione
  </nb-option>

  <nb-option-group *ngFor="let option of allOptions" [title]="option.name">
    <nb-option *ngFor="let address of option.groups" [value]="address">
      {{address | address }}
    </nb-option>
  </nb-option-group>

</nb-select>

<div *ngIf="form?.invalid && submitted">

  <p class="caption status-danger" *ngIf="form.errors?.['required']">
    Endereço é obrigatório.
  </p>

</div>
