<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate [nbSpinner]="loading">
  <nb-card accent="success">

    <nb-card-header>
      Matrícula
    </nb-card-header>

    <nb-card-body>
      <div class="form-row">
        <div class="col-6">

            <app-select-address
              (setValue)="setAddress($event)"
              [submitted]="submitted"
              [form]="address"
            >
            </app-select-address>

        </div>

        <div class="col-3">
          <label for="Número" class="label">Número</label>
          <input
            id="numero"
            mask="0*"
            nbInput
            type="text"
            fullWidth
            [formControl]="number"
            placeholder="Número"
            [status]="(!submitted? 'basic': (number.valid)? 'success':'danger' ) "
            >

          <div *ngIf="number.invalid && submitted">

            <p class="caption status-danger" *ngIf="number.errors?.['required']">
              Número é obrigatório.
            </p>

            <p class="caption status-danger" *ngIf="number.errors?.['minlength']">
              Nome deve ter pelo menos 1 caracteres
            </p>

            <p class="caption status-danger" *ngIf="number.errors?.['maxlength']">
              Nome deve ter no maximo 4 caracteres
            </p>

          </div>
        </div>

        <div class="col-3">
          <label for="Letra" class="label">Letra</label>
          <input
            id="letter"
            mask="S*"
            nbInput
            type="text"
            fullWidth
            [formControl]="letter"
            placeholder="Letra"
            [status]="(!submitted? 'basic': (letter.valid)? 'success':'danger' ) "
            >

          <div *ngIf="letter.invalid && submitted">

            <p class="caption status-danger" *ngIf="letter.errors?.['required']">
              Número é obrigatório.
            </p>

            <p  class="caption status-danger" *ngIf="letter.errors?.['minlength']">
              Letra deve ter pelo menos 1 caracteres
            </p>

            <p  class="caption status-danger" *ngIf="letter.errors?.['maxlength']">
              Nome deve ter no maximo 4 caracteres
            </p>

          </div>
        </div>


      </div>
    </nb-card-body>

    <nb-card-footer>
      <button type="button" nbButton status="basic" (click)="voltar()">Voltar</button>
      <button type="submit" nbButton status="success" class="float-right">Salvar</button>
    </nb-card-footer>

  </nb-card>
</form>
