<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate [nbSpinner]="loading">
  <nb-card accent="warning">

    <nb-card-header>
      Logradouro
    </nb-card-header>

    <nb-card-body  *ngIf="loadedAddressType">

      <div class="form-row">
        <div class="col-3">
            <app-select-address-type
              [form]="addressType"
              [submitted]="submitted"
              [selected]="data.addressType"
              (setValue)="setAddressType($event)">
            </app-select-address-type>
        </div>

        <div class="col-9">
          <label for="name" class="label">Nome</label>
          <input
            id="name"
            nbInput
            type="text"
            fullWidth
            [formControl]="name"
            placeholder="Nome"
            [status]="(!submitted? 'basic': (name.valid)? 'success':'danger' ) "
            >

          <div *ngIf="name.invalid && submitted">

            <div *ngIf="name.errors?.['required']">
              Nome é obrigatório.
            </div>

            <div *ngIf="name.errors?.['minlength']">
              Nome deve ter pelo menos 4 caracteres
            </div>

            <div *ngIf="name.errors?.['maxlength']">
              Nome deve ter no maximo 100 caracteres
            </div>

          </div>
        </div>
      </div>

    </nb-card-body>

    <nb-card-footer>
      <button type="button" nbButton status="basic" (click)="voltar()">Voltar</button>
      <button type="submit" nbButton status="warning" class="float-right">Editar</button>
    </nb-card-footer>

  </nb-card>
</form>
