<label for="name" *ngIf="showTile" class="label">Tipo</label>

<nb-select
  *ngIf="loaded"
  fullWidth
  placeholder="Selecione"
  [(selected)]="selected"
  [compareWith]="compareById"
  (selectedChange)=onSelectionChange()
  [status]="(!submitted? 'basic': (form.valid)? 'success':'danger')">
  >

  <nb-option [value]=null>
    Selecione
  </nb-option>

  <nb-option *ngFor="let addressType of options" [value]=addressType>
    {{addressType.name }}
  </nb-option>

</nb-select>

<div *ngIf="form?.invalid && submitted">

  <div class="caption status-danger" *ngIf="form?.errors?.['required']">
    Tipo é obrigatório.
  </div>

</div>
