<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate [nbSpinner]="loading">
  <nb-card accent="basic">

    <nb-card-header>
      Contrato
    </nb-card-header>

    <nb-card-body>
      <div class="form-row">
        <div class="col-12">
          <label for="name" class="label">Cliente</label>
        </div>

        <div class="col-12">
          <label for="name" class="label">Endereço de Faturamento</label>
        </div>

        <div class="col-12">
          <label for="name" class="label">Endereço de correspondência</label>
        </div>

        <div class="col-12">
          <label for="name" class="label">Endereço de Faturamento</label>
        </div>

      </div>
    </nb-card-body>

    <nb-card-footer>
      <button type="button" nbButton status="basic" (click)="voltar()">Voltar</button>
      <button type="submit" nbButton status="warning" class="float-right">Editar</button>
    </nb-card-footer>

  </nb-card>
</form>
