<form [formGroup]="form" (ngSubmit)="onSubmit()" class="needs-validation" novalidate [nbSpinner]="loading">
  <nb-card accent="success">

    <nb-card-header>
      Tipo Logradouro
    </nb-card-header>

    <nb-card-body>

      <div class="form-group">
        <label for="name" class="label">Nome</label>
        <input
          id="name"
          nbInput
          type="text"
          fullWidth
          [formControl]="name"
          placeholder="Nome"
          [status]="(!submitted? 'basic': (name.valid)? 'success':'danger' ) "
          >
      </div>

      <div *ngIf="name.invalid && submitted">

        <div *ngIf="name.errors?.['required']">
          Nome é obrigatório.
        </div>

        <div *ngIf="name.errors?.['minlength']">
          Nome deve ter pelo menos {{name.errors['minlength']?.requiredLength}} caracteres
        </div>

        <div *ngIf="name.errors?.['maxlength']">
          Nome deve ter no maximo {{name.errors['maxlength'].requiredLength}} caracteres
        </div>
      </div>

    </nb-card-body>

    <nb-card-footer>
      <button type="button" nbButton status="basic" (click)="voltar()">Voltar</button>
      <button type="submit" nbButton status="success" class="float-right">Salvar</button>
    </nb-card-footer>

  </nb-card>
</form>
