<nb-card
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage="Carregando">

  <nb-card-header>
    Contratos
  </nb-card-header>

  <nb-card-body>
    <app-select-rows-number (setValue)="setRowsSize($event)">
    </app-select-rows-number>
  </nb-card-body>

  <nb-card-body>
    <app-table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th class="col-1 bold" (click)="order('id')">#

            <ng-container *ngIf="filter.sort.value === 'id'">
              <nb-icon icon="arrow-up-outline" class="float-right" *ngIf="filter.sort.asc"></nb-icon>
              <nb-icon icon="arrow-down-outline" class="float-right" *ngIf="!filter.sort.asc"></nb-icon>
            </ng-container>

          </th>

          <th class="col-2 bold" (click)="order('name')">
            Contrato
            <ng-container *ngIf="filter.sort.value === 'name'">
              <nb-icon icon="arrow-up-outline" class="float-right" *ngIf="filter.sort.asc"></nb-icon>
              <nb-icon icon="arrow-down-outline" class="float-right" *ngIf="!filter.sort.asc"></nb-icon>
            </ng-container>
          </th>

          <th class="col-4 bold" (click)="order('customer.name')">
            Cliente
            <ng-container *ngIf="filter.sort.value === 'customer.name'">
              <nb-icon icon="arrow-up-outline" class="float-right" *ngIf="filter.sort.asc"></nb-icon>
              <nb-icon icon="arrow-down-outline" class="float-right" *ngIf="!filter.sort.asc"></nb-icon>
            </ng-container>
          </th>

          <th class="col-1 bold">
            Logradouro
          </th>

          <th class="col-1 bold" (click)="order('placeResidence.name')">
            Número
          </th>

          <th class="col-1 bold" (click)="order('placeResidence.name')">
            Letra
          </th>

          <th class="col-1 bold">
            Valor
          </th>

          <th class="col-1 bold" class="text-center" colspan="2">Ações</th>
        </tr>
      </thead>

      <thead>
        <tr>

          <th>
            <input
              type="text"
              mask="0*"
              nbInput
              fullWidth
              placeholder="#"
              class="form-control"
              [(ngModel)]="filter.model.id"
              (keyup.enter)="seach()"
            >
          </th>

          <th>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="Nome"
              class="form-control"
              mask="0000.0000.000000"
              [(ngModel)]="filter.model.name"
              (keyup.enter)="seach()"
              >
          </th>

          <th>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="Nome"
              class="form-control"
              [(ngModel)]="filter.model.customer.name"
              (keyup.enter)="seach()"
              >
          </th>

          <th>
            <app-select-address [showTitle]=false (setValue)="setAddress($event)">
            </app-select-address>
          </th>

          <th>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="Nome"
              class="form-control"
              mask="0*"
              [(ngModel)]="filter.model.placeResidence.number"
              (keyup.enter)="seach()"
            >
          </th>

          <th>
            <input
            type="text"
            nbInput
            fullWidth
            mask="S*"
            placeholder="Nome"
            class="form-control"
            [(ngModel)]="filter.model.placeResidence.letter"
            (keyup.enter)="seach()"
          >
          </th>

          <th>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="Nome"
              class="form-control"
              prefix="R$ "
              mask="separator.2"
              thousandSeparator="."
              [(ngModel)]="filter.model.group.monetaryValue"
              (keyup.enter)="seach()"
            >
          </th>

          <th colspan="2">
            <button nbButton outline fullWidth status="success" (click)="adicionar()">
              <nb-icon icon="plus-circle-outline">
              </nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody *ngIf="table">
        <tr *ngFor="let item of table.content">
          <th class="align-middle"> {{item.id}} </th>
          <td class="align-middle"> {{item.name | contractNumber}} </td>
          <td class="align-middle"> {{item.customer.name}} </td>
          <td class="align-middle"> {{item.placeResidence.address | address}} </td>
          <td class="align-middle"> {{item.placeResidence.number }} </td>
          <td class="align-middle"> {{item.placeResidence.letter}} </td>
          <td class="align-middle"> {{item.group.monetaryValue | currency }} </td>

          <td>
            <button nbButton outline fullWidth status="basic" (click)="navegar('editar', item)" >
              <nb-icon icon="alert-circle-outline">
              </nb-icon>
            </button>
          </td>

          <td>
            <button nbButton outline fullWidth status="danger" (click)="navegar('deletar', item)">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>

        </tr>
      </tbody>

    </app-table>
  </nb-card-body>

  <nb-card-footer *ngIf="table">
    <div class="item text-hint">

      <div class="float-left">
        {{table.pageable.offset+1}} - {{table.pageable.offset+table.numberOfElements}}
      </div>

      <div class="float-right">
        Paginas: {{table.totalPages}}
      </div>

    </div>
  </nb-card-footer>

  <nb-card-footer *ngIf="table">
    <div class="d-flex justify-content-center">

      <button
        nbButton
        status="basic"
        (click)="paginar(0)"
        [disabled]="table.pageable.pageNumber === 0">
        <nb-icon icon="arrowhead-left-outline">
        </nb-icon>
      </button>

      <button
        nbButton
        status="basic"
        (click)="paginar(table.pageable.pageNumber-1)"
        [disabled]="table.pageable.pageNumber === 0"
        >
        <nb-icon icon="arrow-ios-back-outline">
        </nb-icon>
      </button>

      <button nbButton status="primary">
        {{table.pageable.pageNumber+1}}
      </button>


      <button
        nbButton
        status="basic"
        (click)="paginar(table.pageable.pageNumber+1)"
        [disabled]="table.pageable.pageNumber+1 === table.totalPages"
        >
        <nb-icon icon="arrow-ios-forward-outline">
        </nb-icon>
      </button>

      <button
        nbButton
        status="basic"
        (click)="paginar(table.totalPages-1)"
        [disabled]="table.pageable.pageNumber+1 === table.totalPages">
        <nb-icon icon="arrowhead-right-outline">
        </nb-icon>
      </button>

    </div>

  </nb-card-footer>
</nb-card>
