<nb-card>

  <nb-card-header>
    Tipo Logradouro
  </nb-card-header>

  <nb-card-body>
    <table class="table table-bordered">

      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Tipo Logradouro</th>
          <th scope="col" colspan="2">Ações</th>
        </tr>
      </thead>

      <thead>
        <tr>
          <th scope="col">
            <input type="text" nbInput fullWidth placeholder="Full width">
          </th>

          <th scope="col">
            <input type="text" nbInput fullWidth placeholder="Full width">
          </th>

          <th scope="col" colspan="2">
            <button nbButton outline fullWidth status="success">
              Adicionar
            </button>
          </th>
        </tr>
      </thead>

      <tbody>
        <tr>
          <th>1</th>
          <td>Avenida</td>
          <td><button nbButton outline fullWidth status="info">Info</button></td>
          <td><button nbButton outline fullWidth status="danger">Danger</button></td>
        </tr>
      </tbody>

    </table>
  </nb-card-body>

</nb-card>
