<nb-card
  [nbSpinner]="loading"
  nbSpinnerStatus="primary"
  nbSpinnerSize="large"
  nbSpinnerMessage="">

  <nb-card-header>
    Tipo Logradouro
  </nb-card-header>

  <nb-card-body>
    Exibindo:

    <nb-select [(ngModel)]="filter.page.size" (ngModelChange)="seach()">
      <nb-option [value]=1>1</nb-option>
      <nb-option [value]=5>5</nb-option>
      <nb-option [value]=10>10</nb-option>
      <nb-option [value]=20>20</nb-option>
      <nb-option [value]=50>50</nb-option>
      <nb-option [value]=100>100</nb-option>
    </nb-select>

    Registros
  </nb-card-body>

  <nb-card-body>
    <table class="table table-bordered table-striped">

      <thead>
        <tr>
          <th class="col-1 bold" (click)="order('id')">#

            <ng-container *ngIf="filter.sort.value === 'id'">
              <nb-icon icon="arrow-up-outline" class="float-right" *ngIf="filter.sort.asc"></nb-icon>
              <nb-icon icon="arrow-down-outline" class="float-right" *ngIf="!filter.sort.asc"></nb-icon>
            </ng-container>

          </th>

          <th class="col-9 bold" (click)="order('name')">
            Tipo Logradouro
            <ng-container *ngIf="filter.sort.value === 'name'">
              <nb-icon icon="arrow-up-outline" class="float-right" *ngIf="filter.sort.asc"></nb-icon>
              <nb-icon icon="arrow-down-outline" class="float-right" *ngIf="!filter.sort.asc"></nb-icon>
            </ng-container>
          </th>

          <th class="col-2 bold" class="text-center" colspan="2">Ações</th>
        </tr>
      </thead>

      <thead>
        <tr>
          <th>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="#"
              class="form-control"
              [(ngModel)]="filter.model.id"
              (keyup.enter)="seach()"
            >
          </th>

          <th>
            <input
              type="text"
              nbInput
              fullWidth
              placeholder="Nome"
              class="form-control"
              [(ngModel)]="filter.model.name"
              (keyup.enter)="seach()"
              >
          </th>

          <th colspan="2">
            <button nbButton outline fullWidth status="success">
              <nb-icon icon="plus-circle-outline"></nb-icon>
            </button>
          </th>
        </tr>
      </thead>

      <tbody *ngIf="table">
        <tr *ngFor="let item of table.content">
          <th class="align-middle"> {{item.id}} </th>
          <td class="align-middle"> {{item.name}} </td>

          <td>
            <button nbButton outline fullWidth status="info">
              <nb-icon icon="edit-2-outline">
              </nb-icon>
            </button>
          </td>

          <td>
            <button nbButton outline fullWidth status="danger">
              <nb-icon icon="trash-2-outline"></nb-icon>
            </button>
          </td>

        </tr>
      </tbody>

      <tfoot>
        <tr>

          <th class="bold" (click)="order('id')">#
            <ng-container *ngIf="filter.sort.value === 'id'">
              <nb-icon icon="arrow-up-outline" class="float-right" *ngIf="filter.sort.asc"></nb-icon>
              <nb-icon icon="arrow-down-outline" class="float-right" *ngIf="!filter.sort.asc"></nb-icon>
            </ng-container>

          </th>

          <th class="bold" (click)="order('name')">Tipo Logradouro

            <ng-container *ngIf="filter.sort.value === 'name'">
              <nb-icon icon="arrow-up-outline" class="float-right" *ngIf="filter.sort.asc"></nb-icon>
              <nb-icon icon="arrow-down-outline" class="float-right" *ngIf="!filter.sort.asc"></nb-icon>
            </ng-container>
          </th>

          <th class="bold" class="text-center" colspan="2">Ações</th>
        </tr>
      </tfoot>

    </table>
  </nb-card-body>

  <nb-card-footer *ngIf="table">
    <div class="item text-hint">

      <div class="float-left">
        {{table.pageable.offset+1}} - {{table.pageable.offset+table.numberOfElements}}
      </div>

      <div class="float-right">
        Paginas: {{table.totalPages}}
      </div>

    </div>
  </nb-card-footer>

  <nb-card-footer *ngIf="table">
    <div class="d-flex justify-content-center">

      <button
        nbButton
        status="basic"
        (click)="paginar(0)"
        [disabled]="table.pageable.pageNumber === 0">
        <nb-icon icon="arrowhead-left-outline">
        </nb-icon>
      </button>

      <button
        nbButton
        status="basic"
        (click)="paginar(table.pageable.pageNumber-1)"
        [disabled]="table.pageable.pageNumber === 0"
        >
        <nb-icon icon="arrow-ios-back-outline">
        </nb-icon>
      </button>

      <button nbButton status="primary">
        {{table.pageable.pageNumber+1}}
      </button>


      <button
        nbButton
        status="basic"
        (click)="paginar(table.pageable.pageNumber+1)"
        [disabled]="table.pageable.pageNumber+1 === table.totalPages"
        >
        <nb-icon icon="arrow-ios-forward-outline">
        </nb-icon>
      </button>

      <button
        nbButton
        status="basic"
        (click)="paginar(table.totalPages-1)"
        [disabled]="table.pageable.pageNumber+1 === table.totalPages">
        <nb-icon icon="arrowhead-right-outline">
        </nb-icon>
      </button>

    </div>

  </nb-card-footer>
</nb-card>
